*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #000;
    padding: 20px;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header img{
    height: 50px;
    border-radius: 100px;
}
.row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.row p{
    margin: 5px;
}
#back{
    padding: 10px 15px;
    border-radius: 10px;
    background: linear-gradient(to right, red, orange);
}
#back a{
    text-decoration: dashed;
    color: #fff;
}
#mod{
    color: #fff;
    background: linear-gradient(to right, blue,cyan);
    border: none;
    padding: 10px 15px;
    margin: 10px;
    border-radius: 10px;
}
#delete{
    color: #fff;
    background: linear-gradient(to right,gray, red);
    border: none;
    padding: 10px 15px;
    margin: 10px;
    border-radius: 10px;
}
.consulta {
    color: red;
}