/* CSS */
*{
	margin: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
	/* background-color: black; */
}
header{
	text-align: center;
}
header h1{
	text-align: center;
	background-color: #2fa1ff;
	padding: 10px;
	margin-bottom: 20px;
	color: #fff;
	/* color: #fff; */
}

.container{
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}
.linha{
	width: 90%;
}
.linha input{
	width: 400px;
	margin: 5px;
	font-size: 20px;
	border: 2px solid #2fa1ff;
	/* background-color: rgb(173, 173, 173); */
	border-radius: 5px;
}
.linha input:hover{
	border: 2px solid #ff5252;
}

.linha p{
	text-align: left;
	
	/* color: #fff;	 */
}
strong{
	color: red;
}
.linha select{
	font-size: 25px;
}

.linha select{
	width: 200px;
	font-size: 20px;
	border: 2px #2fa1ff solid;
	margin: 10px;
	margin-left: 100px;
}
.linha input#btn{
	background: linear-gradient(to right, #2263db, green);
	color: #fff;
	width: 200px;
	height: 50px;
	border: none;
	margin-left: 100px;
}
.linha input#btn:hover{
	background-color: #ff5252;
	padding: 20px;
}